# ============================
# Archivos y carpetas generadas
# ============================
bin/
gen/
out/
null/

# Gradle
.gradle
build/
gradlew.bat

# Compilados Java
*.class

# Logs
*.log

# IntelliJ / IDEA
*.iml
*.iws
.idea/
!/gradle/wrapper/gradle-wrapper.jar
.idea/sonarlint

# Eclipse
.classpath
.project
.settings/

# Maven
target/
log/

# Bibliotecas y empaquetados
*.jar
*.nar
*.zip
*.tar.gz
*.rar
*.war
*.ear
*.lib
*.a
*.la
*.lo

# Capturas de pantalla
Capturas/

# Android APK
*.apk

# Mac
.DS_Store

# ============================
# Reglas personalizadas
# ============================

# 1. Ignorar todos los .java dentro de ManejoDeAudios
src/main/java/ManejoDeAudios/**/*.java

# 2. Ignorar solo el archivo AudioSteps.java
src/test/java/stepDefinitions/AudioSteps.java

# 3. Ignorar carpeta completa Llamadas (y subcarpetas)
Llamadas/

# 4. Ignorar carpeta completa LlamadasConvertidas (y subcarpetas)
LlamadasConvertidas/

# 6. Ignorar carpeta completa reportes (y subcarpetas)
reportes/
